<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pay.tutoring">
    <!-- 권한추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".payment.card.FinishTransfer"></activity>
        <activity android:name=".payment.card.EnterAmountActivity" />
        <activity android:name=".payment.card.TransferActivity" />
        <activity android:name=".loading.TestActivity" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/title_activity_main"></activity> -->
        <!-- 카카오 메타데이터 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".loading.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".loading.LoadingActivity" /> -->
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".card.CardActivity" />
        <activity android:name=".login.AgreePersonalInfortmation" />
        <activity android:name=".login.SelectTeacherStudentActivity" />
    </application>

</manifest>